.label-form-container {
  width: 90%;
  display: flex;
  padding: 16px;
  max-width: 600px;
  margin: 16px auto;
  border-radius: 8px;
  flex-direction: column;
  background-color: #fff3e0;
  border: 1px dashed #2c3e50;
  p {
    color: #ef6c00;
    font-weight: bold;
    margin-bottom: 16px;
    span {
      margin-left: 4px;
      color: #ef6c00;
    }
  }
}
.label-edit-row {
  width: 100%;
  display: flex;
  input {
    width: 100%;
    border: none;
    font-size: 14px;
    padding: 8px 10px;
    background-color: transparent;
    border-bottom: 2px solid #ccc;
    &:focus {
      border-bottom-color: #ef6c00;
    }
  }
}
