.u-hidden {
  display: none;
}
.u-loading {
  inset: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  position: fixed;
  visibility: hidden;
  pointer-events: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
  p {
    color: #fff;
    font-size: 14px;
    margin-top: 16px;
  }
  img {
    width: 50px;
    animation: loading-animation 2s infinite ease;
  }
}
.u-loading.is-active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

@keyframes loading-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
